dify_workflow/yuanbaochat/元宝聊天.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 元宝聊天
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1740995372649-source-1740995429317-target
      source: '1740995372649'
      sourceHandle: source
      target: '1740995429317'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: 1740995429317-source-1740995479885-target
      source: '1740995429317'
      sourceHandle: source
      target: '1740995479885'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 用户输入问题
          max_length: 48321
          options: []
          required: true
          type: paragraph
          variable: chat_input
      height: 89
      id: '1740995372649'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-1
            key: ''
            type: text
            value: '{

              "username": "",

              "verify_code":"",

              "chat_input":"{{#1740995372649.chat_input#}}"

              }'
          type: json
        desc: ''
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 100
        selected: false
        timeout:
          connect: 300
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
          read: 600
          write: 600
        title: HTTP 请求
        type: http-request
        url: http://192.168.110.39:2222/chat/
        variables: []
      height: 109
      id: '1740995429317'
      position:
        x: 492.0056915283203
        y: 278.0056838989258
      positionAbsolute:
        x: 492.0056915283203
        y: 278.0056838989258
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1740995429317'
          - status_code
          variable: status_code
        - value_selector:
          - '1740995429317'
          - body
          variable: body
        selected: false
        title: 结束
        type: end
      height: 115
      id: '1740995479885'
      position:
        x: 898.0056915283203
        y: 315.0056838989258
      positionAbsolute:
        x: 898.0056915283203
        y: 315.0056838989258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -8.410464837488462
      y: -120.12716770574514
      zoom: 1.2866648909802367
